body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    width: 80%;
    margin-left: 10%;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a:hover {
    color: #555;
}

img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #d9534f;
}

ul, ol {
    padding-left: 20px;
}

p {
    margin: 10px 0;
    line-height: 1.6;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.02em;
    hyphens: auto;
    word-wrap: break-word;
    text-align: justify;
}

a {
    color: #d9534f;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    body{
        width: 100%;
        margin-left: 0;
    }
}
